#include	"resources.h"

//----------------------------------
// ダイアログ (IDD_)
//----------------------------------
IDD_ DIALOG DISCARDABLE 0, 0, 270, 180
EXSTYLE WS_EX_DLGMODALFRAME
STYLE WS_POPUP | WS_THICKFRAME | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | DS_SETFONT
CAPTION "Form"
FONT 8, "ＭＳ 明朝"
{
 CONTROL "対象監視ログ", IDC_LABEL100, "STATIC", WS_CHILD | WS_VISIBLE | SS_NOTIFY, 6, 12, 78, 12
 CONTROL "Edit101", IDC_EDIT101, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | ES_AUTOHSCROLL, 9, 28, 168, 13
 CONTROL "...", IDC_BUTTON102, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON, 183, 27, 21, 18
 CONTROL "S", IDC_BUTTON103, "BUTTON", WS_CHILD | WS_VISIBLE | BS_DEFPUSHBUTTON, 216, 28, 22, 18
 CONTROL "EditBox104", IDC_EDITBOX104, "EDIT", WS_CHILD | WS_DLGFRAME | WS_VISIBLE | WS_VSCROLL | WS_HSCROLL | ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | ES_AUTOHSCROLL, 0, 54, 246, 108
}

